main {
    max-width: 900px;
    margin: 200px auto 72px auto;
    background-color: peachpuff;
    border-radius: 20px;
    border: 5px solid black;
    padding: 10px 10px 10px 10px;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: red;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 220px;
    margin-top: -130px;
    border: 5px solid black;
    background-color: lawngreen;
    border-radius: 10px;
}

#todays-challenge {
    font-family: cursive;
    font-weight: bold;
    font-size: 45px;
}

span {
    color: darkred;
}

a {
    color: rgb(73, 29, 50);
}