header {
    margin-bottom: 64px;
}

ol {
    list-style: none;
    max-width: 500px;
    /* width: 500px */
    margin: 36px auto 0 auto;
    padding: 0;
}

/* li {
    list-style: none;
} */

body {
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 75, 75);
}

a {
    padding: 12px 48px;
    background-color: rgb(167, 1, 78);
    border: 1px solid rgb(167, 1, 78);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    margin: 30px 12px;
    display: inline-block;
    margin: 0;
}

#description {
    margin: 12px 0 20px 0;
}

/* header p {
    margin-bottom: 36px;
} */

a:hover {
    background-color: rgb(180, 12, 90);
    text-decoration: none;
}

h1 {
    color: #534b4b;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0;
}

li {
    padding: 16px;
    background-color: rgb(223, 136, 124);
    border-radius: 7px;
    margin: 32px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

h2 {
    color: rgb(78, 13, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main p {
    margin: 12px;
    color: rgb(71, 29, 22);
}

.daily-goal {
    margin: 12px;
    color: rgb(71, 29, 22);
}

.highlight-goal {
    background-color: rgb(240, 91, 65);
}